* {
    margin: 0;
    padding: 0;
}

/* tengo listas las vistas desktop que es la primera que hice y la laptop
en mis paginas esta listo, el index, productos y historia ,Falta contacto y galeria*/

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* HEADER */
#cabecera {
    background-image: url(../img/nav-madera2.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 30rem;
}

.menu {
    background-color: chocolate;
}

.menu-nav {
    display: flex;
    text-align: center;
    font-size: large;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    gap: 4rem;

}

.menu-nav li {
    list-style: none;
}

.menu-nav li a{
    text-decoration: none;
    color: black;
}

.menu-nav li a:hover {
    background-color: blanchedalmond;
    border-radius: 5%;
}


/*color fondo pagina*/
#cuerpo  {
    background-color: blanchedalmond;
}


/*todos los h1*/
.titulo1 {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
/*INDEX*/
.card {
    margin: 2rem;
}

.d-flex {
    display: flex;
    height: auto;
    padding: 2rem;
    margin: 3rem;
    border-style: double;
}

.d-flex img {
    width: 13rem;
}

/* comienza mi pagina productos*/

.tarjetas-arrimo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    
}

.tarjetas-mesas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    
}

.tarjetas-modulares {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    
}

.tarjetas-extras {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    
}

/*HIstoria*/
/*foto fundador*/
.titulo1 img {
    width: 40rem;
    border-radius: 5%;
    margin: 2rem;
}

.text-end {
    display: inline-block;
    margin: 2rem;

}

.parrafoH {
    display: flex;
    margin: 4rem 5rem;
    padding: 1rem;
    background-color: bisque;
    text-align: center;
    font-size: 1.5rem;
    border-style: double;
}

.tarjetas h3 {
    text-align: center;
    text-decoration: underline;
    padding: 2rem;
    margin: 2rem;
}

.col {
    display: inline-block;
    width: 40%;
    margin: 3rem;
}

/*FOOTER*/

#footer {
    background-color:darksalmon;
    flex-direction: column;
    padding: 1rem;
    margin-top: 3rem;

}

#footer img {
    width: 2.5rem;
}

/*vista para Tablet*/

@media (max-width: 768px) {

    .logo {
        width: 22rem;
    }

    .menu-nav {
        font-size: medium; /*ver si el tamaño esta bien en el menu?*/
        gap: 3rem;
    }

    .titulo1 {
        text-align: center;
    }

    .d-flex {
        align-items: center;
        max-width: fit-content; /*Este ponerlo en vista mobil igual*/
    }

    .tarjetas-arrimo {
       gap: 0.5rem;
    }

    .tarjetas-mesas {
        gap: 0.5rem;
    }
    
    .tarjetas-modulares {
        gap: 0.5rem;
    }
    
    .tarjetas-extras {
        gap: 0.5rem;
    }

    .titulo1 img {
        width: 25rem;
    }

    .col {
        display: flex;
        width: 47%;
        margin: 0.5rem;
    }

}

/*vista para mobile*/

@media (max-width: 320px) {
    .menu-nav {
        flex-direction: column;
        text-align: initial;
        font-size: small;
        gap: 0.3rem;
    }


    .titulo1 {
        flex-direction: column;
        margin: 1rem;
        padding: 1rem;
    }




    .tarjetas h3 {
        flex-direction: column;
        margin: 0.5rem;
        padding: 0.5rem;

    }

    .d-flex {
        flex-direction: column;
    }

    .fotoprincipal {
        display: flex;
        flex-direction: column;
        width: 20rem;
        /*quiero quitarle el texto a la imagen*/
    }

    .tarjetas-arrimo {
        flex-direction: column;
        gap: 0.5rem;
     }
 
     .tarjetas-mesas {
        flex-direction: column;
         gap: 0.5rem;
     }
     
     .tarjetas-modulares {
        flex-direction: column;
         gap: 0.5rem;
     }
     
     .tarjetas-extras {
        flex-direction: column;
         gap: 0.5rem;
     }

     .parrafoH {
        flex-direction: column;
        justify-content: center;
        margin: 1rem;
        padding: 0.5rem;
        font-size: medium;

     }

     .col {
        flex-direction: column;
        width: 35rem;

     }
    
}

