* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

#cabecera {
    background-image: url(../img/nav-madera2.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 30rem;
}

.menu {
    background-color: chocolate;
}

.menu-nav {
    display: flex;
    text-align: center;
    font-size: large;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    gap: 4rem;

}

.menu-nav li {
    list-style: none;
}

.menu-nav li a{
    text-decoration: none;
    color: black;
}

.menu-nav li a:hover {
    background-color: blanchedalmond;
    border-radius: 5%;
}


#cuerpo  {
    background-color: blanchedalmond;

}

.titulo1 {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.titulo1 img {
    width: 40rem;
    border-radius: 5%;
    margin: 2rem;
}

.text-end {
    display: inline-block;
    margin: 2rem;

}

.parrafoH {
    display: flex;
    margin: 4rem 5rem;
    padding: 1rem;
    background-color: bisque;
    text-align: center;
    font-size: 1.5rem;
    border-style: double;
}

.col {
    display: inline-block;
    width: 40%;
    margin: 3rem;


}

.fotos img{
    display: inline;
    width:20rem;
    height: 15rem;
    text-align: center;
}

#carouselExampleIndicators {
    width: 45rem;
}

.d-flex {
    display: flex;
    height: max-content;
    padding: 2rem;
    margin: 3rem;
    border-style: double;
}

.d-flex img {
    width: 13rem;
}

/* comienza mi pagina productos*/

.tarjetas h3 {
    text-align: center;
    text-decoration: underline;
    padding: 2rem;
    margin: 2rem;
}

.tarjetas-arrimo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    
}

.tarjetas-mesas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    
}

.tarjetas-modulares {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    
}

.tarjetas-extras {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    
}

#footer {
    background-color:darksalmon;
    flex-direction: column;
    padding: 1rem;
    margin-top: 3rem;

}

#footer img {
    width: 2.5rem;
}
