#cabecera {
    background-image: url(../img/nav-madera2.jpg);
    @include flex-columna;

}

.logo{
    display: block;
    width: $iconoXgrande;
}

/*menu de navegacion*/
.menu,
.menu-nav {
    
    background-color: $color-secundario;
    display: flex;
    text-align: center;
    font-size: $fuente-media;
    margin-top: $espacioChico;
    gap: 4rem;

    li,
    li a {
        list-style: none;
        text-decoration: none;
        color: $color-terciario;
    }

    & a:hover {
        background-color: $color-primario;
        border-radius: 6%;
    }

}

#cuerpo {
    background-color: $color-primario;
    font-size: $fuentePrincipal;
}

.titulo1 {
    text-align: center;
    margin-top: $espacioXgrande;
    margin-bottom: $espacioXgrande;
    
}

h2,
h3,
h4,
p {
    margin-top: $espacioChico;
    text-align: center;
}

footer {
        background-color:darksalmon;
        margin-top: $espacioXgrande;
    @include flex-columna;

    .container-redes a {
        color: $color-terciario;
        text-decoration: none;
        font-size: $iconoChico;
    }
}

/*Cambios Vista Tablet*/

@media (max-width: $tablet){
    .logo {
        width: $iconoGrande;
    }

    .menu-nav {
        font-size: medium; 
        gap: 3rem;
        margin: $espacioChico;
    }

    .titulo1 {
        margin: $espacioGrande;
    }

    .d-flex {
        align-items: center;
        max-width: fit-content; 
    }

    .titulo1 {
        img{
            width: 30rem;
        }
    }

    .tarjetas-arrimo,
    .tarjetas-extras,
    .tarjetas-mesas,
    .tarjetas-modulares {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $espacioChico;
        justify-items: center;
    }/*AQUI DEBO ARREGLAR QUEDE*/

    

    footer {
        .container-redes a{
            font-size: $iconoXchico;
        }
    }
}

/* Cambios vista Celular L*/

@media (max-width: $celularL){
    .logo {
        width: $iconoGrande;
    }
    .menu-nav {
        flex-direction: column;
        text-align: initial;
        font-size: medium;
        gap: 0.3rem;
    }

    .titulo1 {
        @include flex-columna;
        margin: $espacioMedio;
    }

    .card{
        display: flex;
        flex-direction: column;
        margin: 2rem;

        p {
            display: none;
        }

        .card-img {
            height: 10rem;
        }

    }

    .d-flex {
        @include flex-columna;
        width: 20rem;
        margin: 0%;
        gap: 1.5rem;

        img {
            height: 8rem;
            border-style: groove;
        }
    }

    .tarjetas-arrimo,
    .tarjetas-mesas,
    .tarjetas-modulares,
    .tarjetas-extras {
        flex-wrap: wrap;
        width: 25rem;
        
        .card {
            margin: 2rem;
        }
    }

    .titulo1 {
        img{
            width: 25rem;
        }
    }

    .col {
        width: 30;
        margin: 1rem;
    }

    
    footer {
        .container-redes a{
            font-size: 2.5rem ;
        }
    }
    

}


/* Cambios Vista Celular S */

@media (max-width: $celularS) {
    #cabecera {
        display: inline-flex;
    }

    .logo {
        width: $iconoMediano;
    }

    .menu-nav {
        flex-direction: column;
        text-align: initial;
        font-size: small;
        gap: 0.2rem;
    }

    .titulo1 {
        @include flex-columna;
        margin: $espacioMedio;
    }

    .card{
        margin: 0;

        h4,
        p {
            display: none;
        }

        img {
            height: 10rem;
        }
    }

    .d-flex {
        width: 14rem;
        gap: 1rem;

        img {
            height: 8rem;
        }
    }

    .tarjetas-arrimo,
    .tarjetas-mesas,
    .tarjetas-modulares,
    .tarjetas-extras {
        flex-wrap: wrap;
        width: 20rem;
    }

    .titulo1 {
        img{
            width: 15rem;
        }
    }

    .col {
        display: flex;
        flex-wrap: wrap;
        margin: 0rem;
    }


    footer {
        .container-redes a{
            font-size: 2rem ;
        }
    }

}
