/* Pagina Historia*/
.titulo1 {
    img {
    width: 40rem;
    border-radius: 5%;
    margin: 2rem;
    }
   
}
.text-end {
    display: inline-block;
    margin: 2rem;

}

.parrafoH {
    @extend .parrafoH;
}

.tarjetas h3 {
    text-align: center;
    text-decoration: underline;
    padding: 2rem;
    margin: 2rem;
    
}

.col {
    display: inline-block;
    width: 46%;
    margin: 1rem;
}

@media (max-width: $tablet) {

    .titulo1 {
    img{
        width: 30rem;
    }
}

    .col {
        width: 45%;
        margin:0.5rem;
    }
}

@media (max-width: $celularL) {

    .titulo1 {
    img{
        width: 18rem;
    }
}

   .row {
    @include flex-columna;

   .col {
    width: 20rem;
    }
}

@media (max-width: $celularS) {

    .titulo1 {
        img{
            width: 14rem;
        }
    }

}
}




