/* Pagina Historia*/
.titulo1 {
    img {
    width: 40rem;
    border-radius: 5%;
    margin: 2rem;
    }
   
}
.text-end {
    display: inline-block;
    margin: 2rem;

}

.parrafoH {
    display: flex;
    margin: 4rem 5rem;
    padding: 1rem;
    background-color: bisque;
    text-align: center;
    font-size: 1.5rem;
    border-style: double;
}

.tarjetas h3 {
    text-align: center;
    text-decoration: underline;
    padding: 2rem;
    margin: 2rem;
}

.col {
    display: inline-block;
    width: 40%;
    margin: 2rem;
}