/*Pagina Productos*/

.tarjetas-arrimo,
.tarjetas-mesas,
.tarjetas-modulares,
.tarjetas-extras {
    @include tarjetas;
}

.btn { 
        @extend .btn;
        background-color: $color-secundario;
        color: $color-terciario;
        font-weight: 500;

        &:hover {
            background-color: $color-primario;
            color: $color-terciario;
        }

}

@media (max-width: $tablet) {
    .tarjetas-arrimo,
    .tarjetas-mesas,
    .tarjetas-modulares,
    .tarjetas-extras {
        flex-wrap: wrap;
        justify-content: center;
    }
}



@media (max-width: $celularS) {
    .tarjetas-arrimo,
    .tarjetas-mesas,
    .tarjetas-modulares,
    .tarjetas-extras {
        flex-wrap: wrap;
        width: 18rem;
    }
}